# Root

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
dist/
.angular/

# .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
